<div class="d-flex align-items-end col-md-6 px-4 col-12">
  <div class="me-3">
    
    <%= f.check_box :is_correct, {class: 'mc-option btn-check'} %>
    <%= f.label :is_correct,  "Correct Answer?", style: "display: block", class: "btn btn-outline-success"%>
  </div> 

  <div class="flex-grow-1">
    <%= f.label :option, "Option #{f.index + 1}:",  style:"display: block", class: "form-label fs-5"%>
    <%= f.text_field :option, class: "form-control border border-secondary-subtle flex-grow-2"%>
  </div>
</div>