<div class="d-flex align-items-center nested-fields">
  <div>
    <%= f.label :option,  style:"display: block"%>
  <%= f.text_field :option %>
  </div>
  
  <div>
     <%= f.check_box :is_correct, {class: 'mc-option ms-3'} %>
  <%= f.label :is_correct,  "The Correct Answer?"%>
  </div>
</div>