<div id="<%= dom_id question %>">
  <h3>
    <%= question.title %>
  </h3>

  <p>
    <strong>Bank:</strong>
    <%= question.bank.titleize %>
  </p>


  <p>
    <strong>Question type:</strong>
    <%= question.question_type.titleize %>
  </p>

</div>
