<div id="<%= dom_id question %>">
  <p>
    <strong>Header:</strong>
    <%= question.header %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= question.question_type.titleize %>
  </p>

</div>
