<div>
    <div>
    <%= f.label :correct_answer_true, "True" %>
    <%= f.radio_button :correct_answer, true %>
    </div>
    <div>
    <%= f.label :correct_answer_false, "False" %>
    <%= f.radio_button :correct_answer, false %>
    </div>
</div>