<p class="fs-5">Correct Answer:</p>
<div class="d-flex justify-content-start">
    <div class="me-2">
    <%= f.radio_button :correct_answer, true, class: "btn-check" %>
    <%= f.label :correct_answer_true, "True", class: "btn btn-outline-success px-4" %>
    </div>
    <div class="ms-2">
    
    <%= f.radio_button :correct_answer, false, class: "btn-check" %>
    <%= f.label :correct_answer_false, "False", class: "btn btn-outline-success px-4" %>
    </div>
</div>