<div class="d-flex align-items-end pb-3 justify-content-between">
  <h1 class="m-0">New Question</h1>
  <div>
    <%= link_to questions_path, class: "btn btn-outline-primary" do %>
      <p class="m-0">Back to Questions</p>
    <% end %>
  </div>
</div>

<%= render "form", question: @question %>