<div id="<%= dom_id quiz %>">
  <p class="fs-1 mb-5">
    <strong>Name:</strong>
    <%= quiz.name %>
  </p>

  <% if @quiz_questions.present? %>
    <h4 class="fs-2">Quiz Questions</h4>
    <% @quiz_questions.each_with_index do |quiz_question, index| %>
      <div class="row container">
        <div class="col-12 mb-5">

          <%= render "question_template", question: quiz_question.question, index: index + 1, points: quiz_question.points %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
