<div class="container pt-5">
  <h1><i class="bi bi-gem" style="color: red;"></i> Coming soon</h1>
  <p>Site is under construction</p>
  <%= link_to "New Question", new_question_url%>
  <%= link_to "Question", questions_url%>
  <%= link_to "Quizes", quizzes_url%>

  <%= link_to "Quiz'em", root_path, class: "flex-grow-1 flex-shrink-1 m-5 p-5 text-center text-light bg-dark" %>
</div>
