<div id="<%= dom_id survey %>">
  <p class="fs-1 mb-5">
    <strong>Name:</strong>
    <%= survey.name %>
  </p>

  <% if @survey_questions.present? %>
    <h4 class="fs-2">Survey Questions</h4>
    <% @survey_questions.each_with_index do |survey_question, index| %>
      <div class="row container">
        <div class="col-12 mb-5">

          <%= render "question_template", question: survey_question.question, index: index + 1 %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
